/* reset default styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of default styles */

/* <-------- Begin Main Container --------> */

body {
    background-image: url();
}

.parent {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: repeat(3, 1fr);
}

/* <-------- CLOCK & GREETING --------> */
.div1 {
	grid-area: 2 / 2 / 3 / 3;
	border: 1px red solid;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0em;
}

#clock {
	height: fit-content;
}

#clock p {
	text-align: center;
	border: 1px red solid;
	height: 50%;
	font-family: 'ADLaM Display', cursive;
	font-size: 6em;
}

#clock-text-seconds {
	margin: -25%;
	visibility: hidden;
}

#clock:hover #clock-text {
	display: none;
}

#clock:hover #clock-text-seconds {
	visibility: visible;
	margin: 0;
}

#date {
	height: fit-content;
}

#date p {
	font-family: 'ADLaM Display', cursive;
	text-align: center;
	font-size: 1.75em;
}

#greeting {
	text-align: center;
	margin-top: -3em;
}

#greeting p {
	text-align: center;
	font-family: 'Neucha', cursive;
	font-size: 1.5em;
	display: inline;
}

/* <-------- QUOTE SECTION --------> */
.div2 {
	grid-area: 3 / 2 / 4 / 3;
	border: 1px red solid;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

#quote-text {
	margin-bottom: 2em;
	text-align: center;
	max-width: 30em;
	font-family: 'ADLaM Display', cursive;
	visibility: hidden;
}

/* <-------- MENU BUTTONS --------> */
.div3 {
	grid-area: 3 / 3 / 4 / 4;
	border: 1px red solid;
	display: flex;
	align-items: flex-end;
	justify-content: right;
}

#menu {
	background-color: rgba(45, 173, 252, 0.848);
	width: 25px;
	height: 25px;
	padding: 0.3em;
	border-radius: 50%;
	margin: 0 2em 2em 0;
	box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
	cursor: pointer;
	border: transparent solid 0.1em
}

#add-button {
	text-align: center;
	color: #333333;
}

#quote-button {
	width: 25px;
	height: 25px;
	padding: 0.3em;
	background-color: rgba(45, 173, 252, 0.565);
	margin: 0 2em 0.75em 0;
	border-radius: 50%;
	box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
	visibility: hidden;
	cursor: pointer;
	border: transparent solid 0.1em
}

#quote-button span {
	color: #333333;
}

#timer-button {
	width: 25px;
	height: 25px;
	padding: 0.3em;
	background-color: rgba(45, 173, 252, 0.565);
	margin: 0 2em 0.75em 0;
	border-radius: 50%;
	box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
	visibility: hidden;
	cursor: pointer;
	border: transparent solid 0.1em
}

#timer-button span {
	color: #333333;
}


/* <-------- TIMER --------> */
.div4 {
	grid-area: 1 / 3 / 2 / 4;
	border: 1px red solid;
}